* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --header_bg: #0084fd;
    --text-blue:#0084fd;
    --darker: #323332;
    --dark: #363637;
    --primary: #fffefe;
    --primary-light: #f7f4fd;
    --blue-bg-col: #b4ddfe;
    --lilac-bg-section: #9793e5;
    --free-orange: #fdc15f;
}

/* #region utilities */

body {
    font-family: 'Open Sans', sans-serif;
    margin-top: 12vh;
}

.container {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

.col_1 {
    width: calc((100% / 12) * 1);
}

.col_2 {
    width: calc((100% / 12) * 2);
}

.col_3 {
    width: calc((100% / 12) * 3);
}

.col_4 {
    width: calc((100% / 12) * 4);
}

.col_6 {
    width: calc((100% / 12) * 6);
}

.col_8 {
    width: calc((100% / 12) * 8);
}

.col_9 {
    width: calc((100% / 12) * 9);
}

.col_12 {
    width: calc((100% / 12) * 12);
    height: 100%;
}

[class^="col_"] {
    padding: 1rem;
}

.btn {
    border: 1px solid black;
    border-radius: 16px;
}

/* #endregion utilities */

/* #region header */

#site_header {
    background-color: var(--header_bg);
    padding: 1rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    width: 100%;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.head {
    align-items: center;
    justify-content: space-between;
}

.logo img {
    vertical-align: middle;
}

.right_col a {
    color: var(--primary);
    padding: 1rem;
    vertical-align: middle;
}

.right_col .start {
    color: var(--dark);
    background-color: var(--primary-light);
    padding: 0.2rem 0.8rem;
}

.right_col a:hover {
    color: var(--darker);
}

.right_col .start:hover {
    color: var(--primary);
    background-color: var(--dark);
    transition: 0.4s;
}

header .head_icon {
    color: var(--primary);
    font-size: 24px;
    display: none;
}

/* #endregion heeader */

/* #region demo */


.demo .row {
    flex-wrap: wrap;
    padding: 2rem;
}

.col_8 .col_12 {
    display: flex;
    background-color: var(--blue-bg-col);
    padding-bottom: 0;
    border-radius: 10px;
}

.demo .col_6 {
    padding-bottom: 0;
}

.demo img {
    height: 300px;
    position: absolute;
    bottom: 0;
}

.demo .rel {
    position: relative;
}

.demo h4 {
    color: var(--text-blue);
    margin-bottom: 1rem;
}

.demo p {
    color: var(--dark);
    margin-bottom: 4rem;
}

.demo .app_store {
    display: inline-block;
    color: var(--primary);
    background-color: var(--header_bg);
    padding: 0.5rem 2rem;
    border: none;
    margin-bottom: 2rem;
}

.demo .app_store:hover {
    background-color: var(--primary);
    color: var(--darker);
    transition: 0.4s;
}

.app_store i {
    font-size: 20px;
}

.demo .col_4 {
    text-align: center;

}

.icons {
    font-size: 48px;
    color: var(--text-blue);
    margin-bottom: 1rem;
}

.col_4 .col_12 {
    background-color: var(--blue-bg-col);
    border-radius: 10px;
}

/* #endregion demo */

/* #region planning */

.planning {
    background-color: var(--lilac-bg-section);
}

.planning .row {
    padding: 2rem;
}

.planning .first {
    width: 300px;
    margin-bottom: 2rem;
}

.planning h3,
.planning h4 {
    margin-bottom: 2rem;
}

.planning h3,
.planning p {
    color: var(--primary);
}

.planning .col_4 p {
    color: var(--dark);
}

.planning .col_4 {
    display: flex;
    align-items: flex-end;
}

.card {
    background-color: var(--primary-light);
    padding: 1rem;
    border-radius: 20px;
}

.planning .col_4 {
    text-align: center;
}

.col_4 img {
    height: 200px;
    margin-bottom: 1rem;
}

.planning p {
    font-style: italic;
    margin-bottom: 1.5rem;
}

.arrow {
    display: inline-block;
    background-color: var(--lilac-bg-section);
    font-size: 24px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.arrow:hover {
    background-color: var(--primary);
    transition: 0.4s;
}

/* #endregion planning */

/* #region partners */

.partners .title {
    margin-top: 2rem;
    text-align: center;
}

.partners h3,
.partners h2,
.partners p {
    margin-bottom: 2rem;
}

.partners h3 {
    font-style: italic;
}

.partners h2 {
    color: var(--lilac-bg-section);
    font-size: 36px;
}

.partners .row {
    align-items: center;
    justify-content: space-between;
    background-color: var(--lilac-bg-section);
    border-radius: 30px;
    margin-bottom: 2rem;
}

.partners img {
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
}

.cit p,
.cit h4 {
    color: var(--primary);
}

.cit i{
    font-size: 24px;
}

/* #endregion partners */

/* #region benefits */

.benefits {
    background-color: var(--lilac-bg-section);
}

.benefits h3 {
    text-align: center;
    font-size: 36px;
    color: var(--primary);
    padding: 2rem;
}

.benefits .row {
    flex-wrap: wrap;
}

.benefits .card {
    background-color: var(--primary-light);
    padding: 1rem;
}

.benefits .col_4 {
    padding: 1rem;
}

.card .number,
.card h4,
.card .p {
    margin-bottom: 2rem;
}

.card .number,
.card h4 {
    color: var(--lilac-bg-section);
}

.card .number {
    font-size: 48px;
    font-weight: 900;
}

.card h4 {
    font-size: 24px;
}

.card .btn {
    display: inline-block;
    background-color: var(--lilac-bg-section);
    padding: 0.5rem 1rem;
    color: var(--primary);
    border: none;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 40%;
    text-align: center;
    border-radius: 20px;
}

.card .btn:hover {
    background-color: var(--darker);
    transition: 0.4s;
}

/* #endregion benefits  */

/* #region about */


.about {
    padding: 2rem;
}

.about h2 {
    font-size: 48px;
    color: var(--lilac-bg-section);
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.about p {
    margin-bottom: 2rem;
    line-height: 2rem;
}

.about img {
    border-radius: 50%;
    padding: 1rem;
}

.about .cit {
    font-size: 24px;
    font-weight: 700;
    color: var(--lilac-bg-section);
    margin-bottom: 2rem;
}

.about .btn {
    border: none;
    background-color: var(--lilac-bg-section);
    color: var(--primary);
    padding: 0.5rem 1rem;
}

.about .btn:hover {
    background-color: var(--darker);
    transition: 0.4s;
}

.about .col_3 {
    position: relative;
}

.about .fa-quote-right {
    position: absolute;
    top: 10%;
    right: 15%;
    font-size: 48px;
    color: var(--lilac-bg-section);
}

/* #endregion about */

/* #region call to action */

.small_cont {
    width: 80%;
    margin: auto;
    text-align: center;
}

.call_to_action {
    background-color: var(--lilac-bg-section);
    padding: 2rem;
}

.small_cont h2,
.small_cont h3,
.small_cont h4,
.small_cont p {
    margin-bottom: 2rem;
}

.small_cont h4 {
    color: var(--dark);
    
}

.small_cont h3 {
    color: var(--primary);
    font-size: 36px;
}

.small_cont h2 {
    color: var(--free-orange);
    font-size: 64px;
    font-weight: 700;
}

.small_cont p {
    color: var(--primary);
}

.call_to_action .btn {
    display: inline-block;
    color: var(--dark);
    background-color: var(--primary-light);
    border: none;
    width: 20%;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.call_to_action .btn:hover {
    color: var(--primary);
    background-color: var(--dark);
    transition: 0.4s;
}

.privacy {
    text-decoration: underline;
    color: var(--primary);
}

.privacy:hover {
    cursor: pointer;
    color: var(--text-blue);
    transition: 0.4s;
}

/* #endregion call to action */

/* #region footer */

#site_footer {
    background-color: var(--darker);
    padding: 2rem;
}

footer .small_cont {
    color: var(--primary-light);
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

footer a {
    color: var(--lilac-bg-section);
    text-decoration: underline;
}

footer a:hover {
    color: var(--text-blue);
    transition: 0.4s;
}

/* #endregion footer */

@media screen and (max-width: 480px) {

    .container {
        width: 90%;
    }

    header .right_col {
        display: none;
    }

    .demo .col_8,
    .demo .col_4 {
        padding: 0;
        margin-bottom: 1rem;
    }

    .app_store {
        width: 100%;
        text-align: center;
    }

    header .head_icon {
        display: inline-block;
    }

    main .row {
        flex-direction: column;
        align-items: center;
    }

    [class^="col_"] {
        width: 100%;
    }

    .col_8 .col_12 {
        flex-wrap: wrap;
    }

    .rel {
        display: flex;
        align-items: flex-end;
    }

    .rel img {
        position: static;
        height: 200px;
    }

    .partners {
        text-align: center;
    }

    .partners img {
        padding: 1rem;
    }

    .call_to_action .btn {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%;
    }

    header .right_col {
        display: none;
    }

    header .head_icon {
        display: inline-block;
    }

    [class^="col_"] {
        width: 100%;
    }

    .planning img {
        object-fit: contain;
    }

    .about .col_3 {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }

    .about .fa-quote-right {
        top: 22%;
    }

    .partners img {
        padding: 1rem;
    }

    .call_to_action .btn {
        width: 100%;
    }
}